<template>
    <div style="width: 0; height: 0; overflow: hidden; position: fixed; left: 0; top: 0; z-index: -1;">
        <input type="email"/>
        <input type="password"/>
    </div>
</template>

<script lang="ts">
export default {
    name: "LktDisableWebkitAutoFill"
}
</script>
